.ayristyle{
    color: brown;
    font-size: 40px;
}

.bicim{
    color: rgb(255, 0, 0);
    font-size: larger;
    background-color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
}

