@{
    ViewData["Title"] = "HangiProgramlamaDilleri";
}


<h1>Hangi Programlama Dilleri?</h1>

<div class="bg-light p-3 border mb-3">
    <img class="float-end ms-3" src="~/resimler/python.png" alt="python">
    <h2>Python</h2>
    <p>ML çalışmalarında kullanılan en yaygın dildir. Başlangıç, hızlı proje üretme amacıyla ve start-up
        projeleri için önerilir.</p>
</div>

<div class="bg-light p-3 border mb-3">
    <img class="float-end ms-3" src="~/resimler/c-plus-plus.png" alt="c++">
    <h2>C/C++</h2>
    <p>İleri seviye, yapay zeka altyapı/library gibi yüksek performans gereken projelerde önerilir.</p>
</div>

<div class="bg-light p-3 border mb-3">
    <img class="float-end ms-3" src="~/resimler/java.png" alt="java">
    <h2>Java</h2>
    <p>Eğer ‘Biz Java biliyorum, hızlı bir şekilde nasıl öğrenebilirim’ diyorsan sınırlı da olsa kaynak
        var. –Ancak çok tecrübeli Java ekibi yoksa önerilmez.</p>
</div>

<div class="bg-light p-3 border mb-3">
    <img class="float-end ms-3" src="~/resimler/r-programming-language.png" alt="R programlama dili">
    <h2>R</h2>
    <p>‘Ben uygulama geliştirici değilim, istatistik temelim var ve bu tür uygulamalarda çalışıyorum’
        diyorsan önerilir ve çok yaygındır. Yapay zeka uygulama geliştirici girişim ya da bir yazılım
        odaklı girişim için faydası sınırlıdır.</p>
</div>

<div class="bg-light p-3 border mb-3">
    <img class="float-end ms-3" src="~/resimler/js.png" alt="javascript">
    <h2>JavaScript</h2>
    <p>Machine Learning ve Deep Learning odaklı web projelerinde bazı hesaplama yüklerini client’a
        yıkmak için önerilir. Ayrıca cross-platform mobil uygulamalar için de entegre edilebilen
        çözümlere sahiptir.</p>
</div>

<div class="bg-light p-3 border mb-3">
    <img class="float-end ms-3" src="~/resimler/c-sharp.png" alt="C#">
    <h2>C#</h2>
    <p>Performans ve dil gücü olarak yapay zeka da etkili olabilecekse de açık kaynakta amiral gemisi
        olmaktan şuan için uzak. Ancak bir C# geliştiricisi olarak herhangi başka bir dil öğrenmeden
        machine learning, deep learning, computer vision projeleri geliştirilebilecek kadar kaynak ve
        proje mevcuttur.</p>
</div>

<div class="bg-light p-3 border mb-3">
    <img class="float-end ms-3" src="~/resimler/go-logo.png" alt="go programlama dili">
    <h2>Go</h2>
    <p>Güç ve performans olarak çok iyidir. Şahsen yapay zeka uygulamalarında gelecek vadettiğini
        düşünsem de bu tür projelerde kod yazma maliyeti yüksektir. Sınırlı open-source proje nedeniyle
        iyi bir Go geliştirici olmak ve ciddi bir proje geliştirme süresine ihtiyaç vardır.</p>
</div>

<div class="bg-light p-3 border mb-3">
    <img class="float-end ms-3" src="~/resimler/rust.png" alt="rust">
    <h2>Rust</h2>
    <p>Bu listedeki en performanslı dillerden biridir. Sistem ve işletim sistemi seviyesinde
        çalışmalarda kullanılabilecek kadar güçlüdür. Hesaplama gücü nedeniyle henüz ürün ortamında
        olmasa da AR-GE amacıyla araştırmalar yapılması tavsiye edilir.</p>
</div>