@{
    ViewData["Title"] = "Anasayfa";
}
<div class="row">
    <div class="col-lg-12">
        <h1>Yapay Zeka</h1>
        <img class="img-fluid img-thumbnail float-end ms-3" src="~/resimler/ai.jpg" alt="ai">
        <p><strong>Yapay zeka (AI)</strong>, makinelerin deneyimden öğrenmesini, yeni girdilere uyum sağlamasını
            ve insan benzeri görevleri gerçekleştirmesini mümkün kılar. Bugün duyduğunuz çoğu AI örneği -
            satranç oynayan bilgisayarlardan kendi kendine giden arabalara kadar - derin öğrenme ve doğal dil
            işlemeye dayanmaktadır. Bu teknolojileri kullanarak bilgisayarlar, büyük miktarda veri işleyerek ve
            verilerdeki kalıpları tanıyarak belirli görevleri yerine getirecek şekilde eğitilebilir.</p>

        <p>Yapay zeka terimi 1956'da üretildi, ancak yapay zeka, artan veri hacimleri, gelişmiş algoritmalar ve
            hesaplama gücü ve depolama alanındaki iyileştirmeler sayesinde bugün daha popüler hale geldi.</p>

        <p>1950'lerde erken AI araştırmaları problem çözme ve sembolik yöntemler gibi konuları araştırdı.
            1960'larda ABD Savunma Bakanlığı bu tür çalışmalara ilgi duydu ve temel insan akıl yürütmesini
            taklit etmek için bilgisayar eğitimi almaya başladı. Örneğin, Savunma İleri Araştırma Projeleri
            Ajansı (DARPA) 1970'lerde sokak haritalama projelerini tamamladı. DARPA, Siri, Alexa veya
            Cortana'nın ev isimleri olmadan çok önce 2003 yılında akıllı kişisel asistanlar üretti.</p>

        <p>Bu erken çalışma, bugün bilgisayarlarda gördüğümüz otomasyon ve resmi muhakemenin yolunu açtı; bunlar
            arasında insani yetenekleri tamamlamak ve güçlendirmek için tasarlanabilen karar destek sistemleri
            ve akıllı arama sistemleri de var.</p>

        <p>Hollywood filmleri ve bilim kurgu romanları AI'ı dünyayı ele geçiren insan benzeri robotlar olarak
            tasvir ederken, AI teknolojilerinin şu andaki evrimi o kadar da korkutucu ya da oldukça zeki değil.
            Bunun yerine, AI her sektörde birçok özel fayda sağlamak için gelişti. Sağlık, perakende ve daha pek
            çok alanda yapay zekanın modern örneklerini okumaya devam edin.</p>
    </div>
</div>

<div class="row text-center">
    <div class="col-md-4">
        <img src="~/resimler/01.png" alt="tarihce">
        <h3>1950s–1970s</h3>
        <h4>Nöral Ağlar</h4>
        <p>Sinir ağları alanında yapılan ilk çalışmalar “düşünme makineleri” konusunda heyecan uyandırır.</p>

    </div>

    <div class="col-md-4 border-left border-right">
        <img src="~/resimler/02.png" alt="tarihce">
        <h3>1980s–2010s</h3>
        <h4>Makine Öğrenmesi</h4>
        <p>Makine öğrenmesi popüler olmaya başlar.</p>
    </div>

    <div class="col-md-4">
        <img src="~/resimler/03.png" alt="tarihce">
        <h3>Günümüz</h3>
        <h4>Derin Öğrenme</h4>
        <p>Derin öğrenme atılımları, yapay zeka patlamasını tetikler.</p>
    </div>
</div>