@{
    ViewData["Title"] = "MakineOgrenmesi";
}



<h1>Makine Öğrenimi Nedir?</h1>

<p class="lead bg-light p-3 border">“Machine Learning” yani “Makine öğrenimi” son zamanlarda adını sıkça
    duyduğumuz terimler arasına girmiş durumda. Teknolojinin ilerlemesiyle gelişen makine, robot
    sektöründe çok önemli olan “Makine öğrenimi” kavramı en zor basamaklardan biridir. Bu yazımızda
    makine öğreniminin ne olduğunu, günümüz ve gelecekteki durumunu inceleyeceğiz.</p>


<p>Makine öğrenmesi esas olarak 1959 yılında bilgisayar biliminin yapay zekada sayısal öğrenme ve model
    tanıma çalışmalarından geliştirilmiş bir alt dalıdır. Makine öğrenmesi yapısal işlev olarak
    öğrenebilen ve veriler üzerinden tahmin yapabilen algoritmaların çalışma ve inşalarını araştıran bir
    sistemdir. Bu tür algoritmalar statik program talimatlarını harfiyen takip etmek yerine örnek
    girişlerden veri tabanlı tahminleri ve kararları gerçekleştirebilmek amacıyla bir model inşa ederek
    çalışırlar.</p>

<p><strong>Makine öğrenmesine ait başlıca kavramların listesi açıklamalarıyla birlikte aşağıdaki
        gibidir:</strong></p>

<ul class="list-unstyled">
    <li>► <strong>Denetimli Öğrenme</strong>: Veriler etkileşimli sistemlerden alınarak belirli bir
        düzende organize edilmesidir</li>

    <li>► <strong>Denetimsiz Öğrenme</strong>: Sınıf bilgisi barındırmayan verilerin içerisindeki
        gruplar irdelenmesidir</li>

    <li>► <strong>Yarı Denetimli Öğrenme</strong>: Bu kavram tam olarak yukarıdaki iki kavramın arasında
        yer alır ve etiketlenmemiş büyük miktarda bir veri ile etiketlenmiş küçük miktarda bir verinin
        beraber kullanılmasıdır.</li>

    <li>► <strong>Takviyeli Öğrenme</strong>: Öğreticinin, sistemin ürettiği sonuç için doğru ya da
        yanlış olarak bir değerlendirmesidir.</li>

    <li>► <strong>Yoğun Öğrenme</strong>: Hiyerarşik öğrenme olarak da bilinir. Bu öğrenme yöntemi derin
        grafiklerde birçok doğrusal ve doğrusal olmayan dönüşümlerden ve çoklu işlem katmanlarından
        oluşturulmuş verilerde, üst düzey soyutlamalar kullanılarak elde edilen model girişimlerine
        dayalı bir dizi algoritmalarla geliştirilmiş makine öğrenmesidir.</li>
</ul>

<img class="img-fluid" src="resimler/makine-ogrenimi.jpeg" alt="makine öğrenimi">

<p>Bir bilimsel çaba olarak makine öğrenmesi tarihsel olarak yapay zeka arayışından ortaya çıkmıştır.
    Geçmişte yapılan bazı akademik araştırmalar makinelerin belirli bir aşamadan sonra verileri öğrenmek
    zorunda olduğunu gösterdi ve böylelikle araştırmacılarda bu konu üzerinde ortaya çıkan problemlere
    çeşitli sembolik yöntemlerle yaklaşımda bulunabilmek amacıyla çalışmalarını gerçekleştirdiler.
    Özellikle otomatik tıbbi tanı sistemlerinde de olasılıksal mantık tekniği kullanıldı.</p>

<p>Makine öğrenmesi ayrı bir alan olarak 1990 yıllarında yeniden gelişmeye başladı. Alan değişiminin
    hedefi ise pratik yaşamdaki çözülebilir sorunların ele alınmasında yapay zekanın
    yakalanılabilmesinden geçiyor. Makine öğrenmesi ve veri madenciliği sık sık aynı yöntemleri
    kullanırlar ve bu yöntemler önemli ölçüde örtüşmektedir. Bu yöntemler genel hatlarıyla aşağıdaki
    şekildeki gibi ayırt edilebilir:</p>

<ul class="list-unstyled">
    <li>► Makine öğrenmesi bilinen özelliklere dayanarak öğrenilen verilerden yapılan tahminler üzerine
        odaklanır.</li>

    <li>► Veri madenciliği ise verilerdeki (geçmiş) bilinmeyen özelliklerin keşfedilmesine odaklanır. Bu
        veritabanlarında bilgi keşfi analizinin bir adımıdır.</li>
</ul>

<p>Bu iki alan birçok yönden örtüşmektedir. Veri madenciliği birçok makine öğrenmesi metodunu kullanır
    fakat çoğunlukla mantıksal olarak farklı hedefleri vardır. Diğer bir yandan makine öğrenmesi de
    denetimsiz öğrenme ya da öğrenici doğruluğunu geliştirmek için ön işleme adımı gibi veri madenciliği
    metotlarını kullanır.</p>

<p>Günümüzde üretim sektöründe işlev gösteren en iyi üreticiler en başarılı malzemeyi sunan firmalarla
    alışveriş içerisinde oluyorlar. En yeni ve en iyi teknolojilerle üretim yapan bu üreticiler artık
    ürünlerinin imal aşamasında her zamankinden daha fazla sensör kullanarak teknolojiyi olabildiğince
    yaygın şekilde kullanıyorlar. Aynı zamanda üretimin internet ağları üzerinden gerçekleştirilebilmesi
    de teknolojinin ne denli yoğun bir biçimde kullanıldığının en önemli kanıtlarından biri. Bu
    teknolojiler artık üretimde yeni bir dönüşüm oluşturmakta ve yüksek teknolojiyle gelen üretim
    zihniyeti artık üretim şirketlerinin başarıyı yakalayabilmeleri için gerekli olan yeni bir vizyon.
</p>

<p>Bu aşamada gerçekleşen ilk değişim ürünlerden hizmetlere doğru olmakta. Yapılan bir tahmine göre
    kablosuz bağlantılı ürünlerin sayısı (Akıllı telefonlar ve bilgisayarlar hariç) 2020 yılına kadar 5
    milyardan 21 milyara kadar artış gösterecek. Teknoloji bu derecede yaygınlaşıyorken sistemlerin
    işleyişi de yavaş yavaş insanlar tarafından kontrol edilmesi güç bir duruma geliyor. Veri elde edip
    elde edilen verilerin değerlendirilip sonuçların ortaya konması insan eliyle gerçekleştiğinde çok
    uzunca bir zaman alıyor. Bu durumun gelecekte daha yaygın bir alandan ortaya çıkacağı düşünüldüğünde
    büyük sıkıntılar ortaya çıkabilecek gibi görünüyor. Makine öğrenmesiyle geliştirilen sistemler
    detaylı veri analizleri ve istatistiksel analizler gibi birçok bilgiyi bir araya getirerek bu
    bilgileri belirli yöntemlerle problemlerin çözümünde kullanacak. Artık makinelerin kullanıldığı
    sistemler yeni problemlerle karşılaşıldığında analiz ettikleri verilerin ışığında çözümü
    kendiliğinden ortaya koyabilecekler.</p>

<p>Makine öğrenmesi teknolojik alanlardaki bütün gelişmeler için çok önemli bir kavram. Makine öğrenmesi
    üzerine düzenlenen çeşitli konferanslar da bulunuyor ve bu konferanslar üretim teknolojisi,
    otomasyon, otomotiv ve telekomünikasyon gibi farklı endüstri sektörlerinden gelen kullanıcıların ve
    araştırmacıların tümüne hitap eder nitelikte. Bu alanda geçtiğimiz yılda (1-2 Ekim 2015
    tarihlerinde) makine öğrenmesi üzerine düzenlenen ilk konferans olma özelliğini taşıyan ML4CPS 2015
    (Machine Learning for Cyber Physical Systems) oldukça önemli bir örnek oldu. Katılımcıların bu
    konferansta aşağıdakilerle sınırlı olmamakla birlikte birçok konu hakkında bilgi edinme şansları
    olmuştur. Makine öğrenmesi üzerine düzenlenen ilk konferansta ele alınan konular aşağıdaki gibidir.
</p>

<ul class="list-unstyled">
    <li>► Siber fiziksel sistemler için makine öğrenmesi algoritmaları</li>

    <li>► Gerçek zamanlı etkin algoritmalar, sınıflandırılmış öğrenme yaklaşımları, online öğrenme ve ön
        işleme</li>

    <li>► Siber fiziksel sistemler için öğrenilebilir biçimsel modelleme</li>

    <li>► Sensör tümleştirme metotları, dağınık sistemlerde veri toplama ve veri entegrasyonu</li>

    <li>► Durum görüntüleme, pratik bakım, görüntü işleme, teşhis, optimizasyon ve kendini tamir
        uygulamaları</li>
</ul>

<p>Kendi sektörlerinde aktif olarak çalışan büyük üretim firmaları 4. sanayi devrimine giden yolda
    karşılarına çıkan avantaj ve dezavantajlar konusunda çok dikkatli bir şekilde hareket etmek istiyor.
    Artık sistemler düşük bilgisayar ya da insan zekası yerine makine öğrenmesi, otonom sistemler veya
    robotik yapıları kullanıyor. Artık 4. sanayi devrimini yakalayabilmek için bilgisayar ve otomasyon
    sistemleri bilgisayar altyapılarıyla uzaktan bağlantılı bir şekilde donatılmış, verileri öğrenme ve
    buna göre sistemleri kontrol etme kabiliyetine sahip olan makine öğrenmesi algoritmalarıyla
    geliştirilmiş ve görevli operatör sayısını minimuma indirmeyi başarmış robotik sistemleriyle tamamen
    yeni bir şekilde yapılandırılacak. Görünen o ki sanayi sektöründeki değişim sürecinde makine
    öğrenmesi yönteminin oldukça yaygın bir şekilde kullanılacağı günler bizleri bekliyor.</p>



<p><strong>Yazar</strong>: Muhammed Ahmet ALKAN</p>