@{
    ViewData["Title"] = "TemelTerimler";
}



<h1>Yapay Zeka Terimleri</h1>

<p class="bg-light border p-3 mb-3">
    <strong>Yapay zeka ( Artificial intelligence )</strong>: Bir bilgisayarın veya bilgisayar
    kontrolündeki bir robotun çeşitli faaliyetleri zeki canlılara benzer şekilde yerine getirme
    kabiliyeti. (örneğin karar verme, nesne sınıflandırma ve algılama, konuşma tanıma ve çeviri)
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Genel yapay zeka ( AGI — Artificial general intelligence )</strong>: İnsanlarla benzer
    kabiliyete sahip yapay zeka türüdür ayrıca güçlü yapay zeka (strong AI) olarak da bilinir. Halen
    başlangıç aşamasındadır. Tarih vermek yanlış olsa da 2020’li yıllarında sonlarında görmemiz
    muhtemel.
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Dar yapay zeka ( ANI — Artificial narrow intelligence )</strong>: Dar yapay zeka belirli bir
    zamanda yalnızca bir göreve veya soruna odaklanabilen (örneğin bir insan rakibine karşı oyun
    oynayabilir) bir yapay zeka türüdür. Bu şu anda mevcut yapay zeka şeklidir. Zayıf yapay zeka (weak
    AI) olarak da bilinir.
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Süper yapay zeka ( ASI — Artificial super intelligence )</strong>: Bir yapay zeka insan
    davranışı veya zekasını taklit etmekle kalmıyor, bunları aşıyorsa işte buna süper yapay zeka
    diyoruz. Süper yapay zeka şimdilik sadece üzerinde tahminler yapabileceğimiz bir şey. Sonuçlarının
    ne olacağı ise şimdiden büyük bir tartışma konusu. Neyse ki uzmanlar uzun bir süre daha hayata
    geçeceğini öngörmüyor.
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Yapay sinir ağı ( ANN — Artifial neural network)</strong>: İnsan beyninden sonra yapay bir
    sinir sistemi yaratarak, duyusal verileri öğrenen, yorumlayan ve sınıflandıran örüntü tanıyan bir
    bilgisayar algoritması aracılığıyla modellenmiş bir ağ.
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Tekrarlayan sinir ağı ( RNN — Recurrent neural network )</strong>: Sıralı bilgilere ve
    örüntü tanıma temelinde mantıklı çıktı üreten bir tür sinir ağı.
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Algoritma ( Algorithm )</strong>: Bir görevi tamamlaması için bilgisayara verilen bir formül
    (yani bilgisayar için bir kurallar kümesi)
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Geri yayılım ( Backpropagation )</strong>: İngilizce ‘ backward propagation of errors ‘
    kelimelerinden üretilen terim; kısaca, sistemin ilk çıktısının istenen çıktı ile karşılaştırıldığı,
    daha sonra (çıktılar arasındaki) arasındaki fark minimum seviyeye gelene kadar ayarlanan sinir
    ağlarının eğitimi yöntemidir.
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Bayes ağları ( Bayesian networks )</strong>: Bayes ağı, Bayes modeli ve inanç ağı ( belief
    network) olarak da bilinir, bir dizi değişken ve bağımlılıklarını temsil eden grafik tabanlı bir
    modeldir.
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Büyük veri ( big data)</strong>: Standart veri işleme yazılımı tarafından işlenemeyecek
    kadar karmaşık olan büyük miktarda yapılandırılmış veya yapılandırılmamış veri.
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Sohbet botları ( Chatbots )</strong>: İnsan kullanıcıyla yazılı veya sesli komutlarla sohbet
    edebilen bir sohbet robotu. E-ticaret, eğitim, sağlık ve iş endüstrileri tarafından iletişim
    kolaylığı ve kullanıcı sorularını yanıtlamak için kullanılır.
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Sınıflandırma ( Classification )</strong>: Makinelerin veri noktalarına kategori atamasını
    sağlayan algoritma tekniği.
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Kümeleme ( Clustering )</strong>: Makinelerin benzer verileri daha büyük veri kategorilerine
    ayırmasını sağlayan algoritma tekniği.
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Bilişsel hesaplama ( Cognitive computing )</strong>: Veri madenciliği, NLP ve örüntü tanıma
    yoluyla insan düşünce süreçlerini taklit eden bilgisayarlı model.
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Bilgisayar görüşü ( Computer vision )</strong>: Bir makine görüntü dosyalarından (JPEG’ler)
    veya kamera yayınlarından görsel girdiyi işlemesi.
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Evrişimsel sinir ağı ( CNN — Convolutional neural network )</strong>: Çok katmanlı
    algılayıcılar kullanarak görsel görüntüleri analiz etmek, sınıflandırmak ve kümelemek için özel
    olarak oluşturulan bir tür sinir ağı.
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Veri madenciliği ( data mining )</strong>: Büyük ölçekli veriler arasından faydalı bilgiye
    ulaşma, bilgiyi madenleme işidir. Büyük veri yığınları içerisinden gelecekle ilgili tahminde
    bulunabilmemizi sağlayabilecek bağıntıların bilgisayar programı kullanarak aranması olarak da
    tanımlanabilir.
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Derin öğrenme ( deep learning )</strong>: Bilgisayarlara nasıl öğrenileceğini öğreten bir
    makine öğrenme tekniği (yani sınıflandırma tekniklerini kullanarak, bir insan zihni gibi öğrenmeyi
    taklit eden makineler)
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Çekişmeli üretici ağlar ( GAN — Generative adversarial networks )</strong>: Yüzeysel bir
    anlatımla insan gözüne gerçek görünüşte fotoğraflar üretebilen bir tür sinir ağı. GAN tarafından
    oluşturulan görüntüler, fotoğraf verilerinin öğelerini alır ve bunları insanların, hayvanların ve
    yerlerin gerçekçi görüntülerine dönüştürür. Basit girdilerle anlamlı ve karmaşık çıktılar
    oluşturabiliyor.
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Genetik algoritma ( Genetic algorithm )</strong>: Zor problemlerin çözümlerini etkili ve
    hızlı bir şekilde bulmak için kullanılan genetiğin prensiplerine dayanan bir algoritma.
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Sezgisel ( Heuristic )</strong>: Hızlı, optimum, çözüme dayalı problem çözme için
    tasarlanmış bir bilgisayar bilimi tekniği. Diğer kullanımları arasında sezgisel algoritma da vardır.
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Görüntü tanıma ( Image recognition )</strong>: Bir görüntüdeki veya videodaki nesnenin
    özelliğini tanımlama veya algılama işlemi.
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Sınırlı hafıza ( Limited memory )</strong>: Belirli bir zaman dilimine sınırlı kısa süreli
    hafızaya sahip sistemler.
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Makine öğrenimi ( ML — Machine learning )</strong>: Bilgisayarların algılayıcı verisi ya da
    veritabanları gibi veri türlerine dayalı öğrenimini olanaklı kılan algoritmaların tasarım ve
    geliştirme süreçlerini konu edinen bir bilim dalıdır.
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Makine çevirisi ( Machine translation )</strong>: Metin veya konuşmaya dayalı çevirilerde
    (insandan insana) kullanılan dil işleme (NLP) uygulaması.
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Doğal dil işleme ( NLP — Natural language processing )</strong>: Bilgisayarların doğal dil
    verilerini kullanarak insan dilini ve özelliklerini işlemesine, yorumlamasına ve analiz etmesine
    yardımcı olur.
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Optik Karakter Tanıma ( OCR — Optical Character Recognition )</strong>: Metin görüntülerinin
    (klavyeyle yazılan, elle yazılmış veya yazdırılan) elektronik veya mekanik olarak makine kodlu metne
    dönüştürülmesi.
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Örüntü tanıma ( Pattern recognition )</strong>: Verilerde bulunan örüntülerin otomatik
    olarak tanınması.
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Reaktif makineler ( Reactive machines )</strong>: Deneyimler hakkında analiz yapabilir,
    algılayabilir ve tahminlerde bulunabilir, ancak veri depolamaz; durumlara tepki verirler ve verilen
    anı temel alarak hareket ederler.
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Pekiştirmeli öğrenme ( Reinforcement learning )</strong>: Davranışçılıktan esinlenen,
    öznelerin bir ortamda en yüksek ödül miktarına ulaşabilmesi için hangi eylemleri yapması
    gerektiğiyle ilgilenen bir makine öğrenmesi yaklaşımıdır.
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Robotik ( Robotics )</strong>: İnsan zekasını veya hareketlerini daha etkili hale getiren
    robotların üretim ve tasarımı.
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Robotik işlem otomasyonu ( RPA — Robotic process automation )</strong>: İnsanlar tarafından
    tamamlandığında tekrarlanan görevleri gerçekleştirmek için yapay zeka ve makine öğrenimi
    özelliklerine sahip yazılımlar.
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Yapısal veri ( Structured data )</strong>: Kolayca aranabilir düzende açıkça tanımlanmış
    veriler.
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Gözetimli öğrenme ( Supervised learning )</strong>: Çıktı veri setlerinin istenen çıktıları
    veya algoritmaları üretmeleri için makineleri öğrettiği bir tür makine öğrenmesi. (öğretmen-öğrenci
    ilişkisine benzer) Denetimli / kontrollü öğrenme olarak da bilinir.
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Öğrenim aktarma ( Transfer learning )</strong>: Önceden öğrenilmiş verileri kullanan ve yeni
    bir görev grubuna uygulayan bir sistem. Örneğin, arabaları tanımayı öğrenirken edinilen bilgiler
    kamyonları tanımaya çalışırken geçerli olabilir.
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Turing testi ( turing test )</strong>: Bilgisayar bilimcisi Alan Turing (1950) tarafından
    oluşturulan test, basitçe ayrı ortamlardan soru cevap yoluyla karşıdakinin makine olup olmadığını
    anlamak için kullanılır.
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Yapılandırılmamış veriler ( Unstructured data )</strong>: Kolayca aranabilir düzenleri
    olmayan veriler (örneğin ses, video, sosyal medya içeriği)
</p>

<p class="bg-light border p-3 mb-3">
    <strong>Denetimsiz öğrenme ( Unsupervised learning )</strong>: bir algoritmanın sınıflandırılmayan
    veya etiketlenmeyen bilgilerle eğitildiği bir tür makine öğrenmesi, böylece algoritmanın rehberlik
    (veya denetim) olmadan hareket etmesine izin verme. Gözetimsiz veya kontrolsüz öğrenme de denir.
</p>
