@{
    ViewData["Title"] = "UygulamaAlanlari";
}



<h1>Yapay Zeka Uygulama ve Kullanım Alanları</h1>

<p><img class="img-fluid img-thumbnail float-end ms-3" src="~/resimler/kullanim-alanlari.jpeg"
        alt="yapay zeka kullanım alanları"></p>

<h2>Ses tanıma</h2>

<p>Bilgisayarların sesleri tanıyabilmesi için mikrofon ve ses dijital hale getirilerek frekanslar oluşturulur.
    Söz konusu frekanslardan harfler ya da kelimeler kavranmaya çalışılarak sayılara dönüştürülür. Böylelikle
    yapay zeka, sesi tanır, anlar ve cevap verir. Yapay zeka ses tanıma özelliğini en iyi Siri, Now, Echo, Cortana
    kullanmaktadır.</p>

<h2>Görüntü işleme</h2>

<p>Kamera ile çekilen görüntüler dijital hale getirilerek piksellere, piksellerde koda dönüştürülür. Bu kodları
    yapay zeka algoritmaları yorumlar. Görüntü işlemeye en güzel örnek sürücüsüz (otonom) araçlardır.</p>

<h2>Doğal dil (lisan) işleme</h2>

<p>Yapay zekanın en zorlu alanlarından biridir. İnsan ve bilgisayar etkileşimini maksimum seviyeye çıkarmak ya
    da farklı dilde konuşan kişiler arasındaki iletişimi güçlendirmek için çözümler üretir. Doğal dil işlemede;
    derin öğrenme, makine öğrenmesi (machine learning), istatiksel analiz ve kural tabanlı yaklaşımlar kullanılır.
</p>

<p>Yazım hatalarının düzeltilmesinden, otomatik çeviri sistemlerine, dil öğrenimi uygulamalarından kişisel
    asistan uygulamalarına kadar doğal dil işleme kullanılmaktadır. Doğal dil işlemeye örnek olarak Google,
    Yandex, Siri, Google Asistan verilebilir.</p>

<h2>Muhakeme</h2>

<p>Muhakeme, birbirine karşı savları olan iki tarafı dinleyerek bir yargıya varmaktır. Yapay zeka, muhakeme
    özelliği sayesinde mevcut verileri kullanarak çeşitli algoritmalar oluşturur ve en rasyonel kararı verebilir.
    Örneğin; Bir mahkeme hakiminin delilleri inceledikten ve tarafları dinledikten sonra suçlu ve suçsuzu ayırt
    etmesi gibi yapay zeka da muhakeme özelliği sayesinde suçluyu ve suçsuzu ayırt edilebilmektedir.</p>

<h2>Yapay zekanın günlük hayatımızda kullanım alanları nelerdir?</h2>

<ul>
    <li>Siber güvenlik ve savunma sanayi</li>
    <li>Sesli asistanlar</li>
    <li>Dil çevirileri</li>
    <li>Öneri sistemleri</li>
    <li>Navigasyon</li>
    <li>Sosyal güvenlik</li>
    <li>Sağlık hizmetleri</li>
    <li>e-Ticaret</li>
    <li>Yardımcı robot uygulamaları</li>
</ul>
