@{
    ViewData["Title"] = "YapayZekaNedir";
}

<h1>Yapay Zeka (Artificial Intelligence - AI) Nedir?</h1>

<p class="lead bg-light p-3 border">Yapay zeka, bilgisayar sisteminin öğrenme ve sorun çözme gibi insan benzeri
    bilişsel işlevleri taklit edebilme becerisidir.</p>

<p>En basit ifadeyle yapay zeka (AI), görevleri yerine getirmek için insan zekasını taklit eden ve topladıkları
    bilgilere göre yinelemeli olarak kendilerini iyileştirebilen sistemler veya makineler anlamına gelir. Yapay
    zekâ pek çok biçimde kendini gösterir. </p>

<p><strong>Örneğin</strong>:</p>

<img class="img-fluid float-right" src="~/resimler/nedir.png" alt="yapay zeka nedir">

<p>Sohbet robotları, müşterilerin sorunlarını daha hızlı bir şekilde anlamak ve daha verimli cevaplar vermek
    için yapay zekâdan yararlanır.</p>

<p>Akıllı asistanlar, zamanlamayı iyileştirmek için büyük kullanıcı tanımlı veri kümelerinden kritik bilgileri
    çekmek için yapay zekâdan yararlanır.</p>

<p>Öneri motorları kullanıcıların izleme alışkanlıklarına göre TV programları için otomatik önerilerde
    bulunabilir.</p>

<p>Yapay Zeka, herhangi bir özel biçim veya işlevden ziyade süper güçlendirilmiş düşünce ve veri analizi
    yeteneği ve süreciyle ilgilidir. Yapay zeka üst seviye işleve sahip insan benzeri robotların dünyayı ele
    geçirmesine ilişkin görüntüler sunsa da, yapay zekanın amacı insanların yerini almak değildir. Amaç insan
    yeteneklerini belirgin şekilde geliştirmek ve bunlara katkıda bulunmaktır. Bu nedenle oldukça değerli bir
    ticari varlıktır.</p>