@{
    ViewData["Title"] = "AnaSayfa";
}

<div class="text-center">
    <h1 class="display-4">Personel Yönetim Sistemine Hoşgeldiniz</h1>
    <p>İşlemler İçin Soldaki Menüyü Kullanabilirsiniz</p>
    
</div>
